<html>
    <head>
        <%- include("partials/imports") -%>
        <title>Bookish</title>
    </head>
    <body>
        <div class="parallax-container">
            <div class="background">
                <img src="/images/shelf.png" id="shelf1">
                <h1 style="font-weight: 700;">Bookish</h1>
                <img src="/images/shelf.png" id="shelf2">
            </div>
            
            <div class="foreground">
                <img src="/images/shelf.png" id="shelf3">
                <img src="/images/shelf.png" id="shelf4">
            </div>
        </div>
        <section class="content">
            <div class="card">
                <p>text</p>
            </div>
        </section>
        
        

        
    </body>
</html>
