:root {
    --grey: #7D8C91;
    --darkgrey: #566D76;
    --blue: #234754;
    --beige: #F2EBE2;
    --sand: #ECDCD2;
    --red: #953f40;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Inknut Antiqua', serif;
    color: var(--blue);
    background-color: var(--beige);
    margin: 0px;
    width:100%; 
    min-height: 200vh;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

p {
    font-family: 'Poppins', sans-serif;
    /* font-weight: 500; */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#navbar {
    background-color:var(--sand);
    position: fixed;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 25;
    top: -150px;
}

#navbar h3 {
    float: left;
    display: block;
    color: var(--blue);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    margin: -0.25rem;
}

.parallax-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    

    /* background-attachment: fixed;
    background-position: center;
    background-size: 200px;
    row-gap: 4rem;

    margin: 0px auto; */


}

h1 {
    z-index: -1;
    text-align: center;
    position: fixed;
    left: 35vw;
    font-size: clamp(5rem, 5vw, 6vh);
}

.background {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: -1; */

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100px;
    
    align-content: space-between;
   
}

.foreground {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 250px;
    align-content:space-between;
   
}

.background img{
    height: 200px;
    opacity: 0.5;
    z-index: -10;
}

#shelf3, #shelf4{
    min-width: 15rem;
    min-height: 15rem;
    z-index: 10;
}

#shelf1, #shelf2{
    min-width: 12rem;
    min-height: 12rem;
}

.content {
    background-color: var(--red);
    min-height: 120vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec {
    display: flex;
    flex: flex-wrap;
    align-content: space-between;
}

.card {
    background-color: var(--beige);
    min-height:50vh;
    min-width: 20vw;
    margin: 5rem;
}

.card p {
    padding: 1rem;
    margin-top:-0.15rem;
}

input {
    padding-left: 10px;
}

.searchbar {
    opacity: 0;
    transform: translate(0, 5vh);
    transition: all 1s;
}

.searchbar.visible {
    opacity: 1;
    transform: translate(0, 0);
  }




