:root {
    --grey: #7D8C91;
    --darkgrey: #566D76;
    --blue: #234754;
    --beige: #F2EBE2;
    --sand: #ECDCD2;
    --red: #953f40;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Inknut Antiqua', serif;
    color: var(--blue);
    background-color: var(--beige);
    margin: 0px;
    width:100%; 
    min-height: 100vh;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

p {
    font-family: 'Poppins', sans-serif;
    /* font-weight: 500; */
}

h5 {
    margin-top: 1rem;
    line-height: 95%;
    font-weight: 700;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#navbar {
    background-color:var(--sand);
    position: fixed;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 25;
    top: -150px;
}

#navbar h3 {
    float: left;
    display: block;
    color: var(--blue);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 1rem;
    font-weight: 700;
}

#top-title {
    margin-left: -1rem;
    margin-top:10rem;
 }

 #top-subtitle {
    margin-left: -1rem;
    margin-top:15.5rem;
    z-index: -1;
    text-align: center;
    position: fixed;
    left: 35vw;
 }

.parallax-container {
    display: flex;
    flex-direction: column;
}

h1 {
    z-index: -1;
    text-align: center;
    position: fixed;
    left: 37vw;
    font-size: clamp(5rem, 5vw, 6vh);
}

.background {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: -1; */

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100px;
    
    align-content: space-between;
   
}

.foreground {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 250px;
    align-content:space-between;
   
}

.background img{
    height: 200px;
    opacity: 0.5;
    z-index: -10;
}

#shelf3, #shelf4{
    min-width: 15rem;
    min-height: 15rem;
    z-index: 10;
}

#shelf1, #shelf2{
    min-width: 12rem;
    min-height: 12rem;
}

.content {
    background-color: var(--red);
    min-height: 120vh;
    display:flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

input {
    padding-left: 10px;
}

/* .searchbar {
    opacity: 0;
    transform: translate(0, 5vh);
    transition: all 1s;
    margin-top: 4rem;
    margin-bottom: 6rem;
} */

.category {
    opacity: 0;
    transform: translate(0, 5vh);
    transition: all 1s;  
    color: var(--sand);
    margin-top: 5rem;
}

.visible {
    opacity: 1;
    transform: translate(0, 0);
}

  /* CAROUSEL STYLE */
.sec {
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: var(--red);
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 2rem;
}

.scroll-disabler {
    width: 100vw;
    height: fit-content;
    position: absolute;
    background-color: rgba(0,0,0 , 0.0001);
}

::-webkit-scrollbar {
    display: none;
}

article {
    transform: scale(1);
    opacity: 0;
    transform: translate(0, 5vh);
    transition: all 2s;

    height:70vh;
    /* width: 60vw; */
    margin: 1.5rem;
    /* padding: 1rem; */

    &:hover{
        cursor: pointer;
    }
}

.grow {
	display: inline-block;
	transition-duration: .3s;
	transition-property: transform;

	&:hover {
		transform: scale(1.03);
	}
}


article .wrapper {
    /* height:20vh; */
    width: 17vw;
    background-color: var(--beige);
    height: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 1rem;
}

.book-body {
    /* height:20vh; */
    /* width: 17vw; */
    white-space: normal;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

article .img {
    display:flex;
    height: 70%;
    background-color: transparent;
    border-radius: 15px 15px 0 0;
    justify-content: center;
    
}

article img {
    height: 100%;
    object-fit: contain;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.modal-content {
    background: var(--beige);
}

.modal-img {
    height: 200px;
}

.modal-body {
    display: flex;
    white-space: normal;
}

.modal-body p {
    margin: 1rem;
}






